.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: var(--green-color);
  justify-content: center;
}

.splashIcon {
  height: 70%;
}

.splashIcon > img {
  width: 100%;
}
/* Media query for medium-sized screens (e.g., tablets) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .splashIcon {
    width: 50%;
  }
}
