.endPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.izkorImage {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.izkorImage img {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 200px;
}
