* {
  box-sizing: border-box;
}
/* :root {
  --background-color: #333;
  --text-color: white;
  --border-color: white;
} */
bodyxxx {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  width: 100vw;
  height: 100vh;
}
#rootxx {
  height: 100%;
  width: 100%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "FrankRuehl";
  src: url("fonts/frank.ttf") format("opentype");
}
@font-face {
  font-family: "Assistant";
  src: url("fonts/Assistant-Regular.ttf") format("opentype");
}
/* .lightTheme {
  --background-color: white;
  --text-color: black;
  --border-color: black;
} */

.darkTheme {
  --background-color: #333;
  --color1: #8a4c8a;
  --color2: #590059;
  --color3: #3c1453;
  --color4: #43254c;
  --color5: #000000;
  --text-color: white;
  --border-color: white;
}
.main {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.errorText {
  color: red;

  font-size: 15px;
  padding: 10px;
}
.buttonsDiv {
  direction: rtl;
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: space-around;
  margin-top: 16px;
  padding: 20px; /* Add padding for better spacing */
  z-index: 100; /* Ensure it's above other content */
}
.dialogButton {
  padding: 10px;
}
