.customBtn {
  width: 40px;
  height: 40px;
  color: #fff;
  padding: 2px 2px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 1),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  outline: none;
  border: 1px solid #fff;
  border-radius: 25%;
}
.customBtn:disabled {
  color: gray;
}
.customBtn:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  border-radius: 25%;
}
.btn5 {
  backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  border-color: #7c7c7c;
  background: linear-gradient(
    180deg,
    #e6e6e6 0%,
    rgba(0, 0, 0, 0.25) 80%,
    rgba(38, 38, 38, 0.6) 20%,
    rgba(0, 0, 0, 0.25) 100%
  );
  border-radius: 25px;
}

/* .button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.5),
    transparent,
    transparent
  );
  transform: translateY(100%);
  opacity: 0.7;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.button:hover {
  background-color: #2980b9;
} */
